.slider-container {
    height: 60px;
    background-color: beige;
    width: 100%;
    overflow: hidden;
    .slick-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h2 {
      font-size: 24px;
      color: #333;
      white-space: nowrap;
    }
    .title-red{
      color: red;
      font-size: 30px;
      font-weight: bold;
    }
  }